

body {
    background-color: #320374;
    font-family: Impact, Haettenschweiler, 'host grotesk', sans-serif

}

h1 {
    color: rgb(248, 245, 245);
    text-align: center;
}

h2
{
    color:aliceblue;
    text-align: center;
}

h3
{
    color: aliceblue;
    text-align: center;
}

body
{
    color: aliceblue;
    text-align: center;
}
a{
    color: rgb(248, 245, 245);
    text-decoration: none;
}
    a:hover {
        color: rgb(174, 109, 254);
    }
