@charset "UTF-8";
/* CSS Document */

/* Reset basic styles */
body, h1, p, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: auto;
  font-family: 'Raleway', sans-serif;
  line-height: 1.2;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Sticky navigation bar styles */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #74F1FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  z-index: 1000;
  box-sizing: border-box;
  overflow: hidden;
}

/* Logo container with logo image and name */

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

.logo {
    max-width: 90px;
    height: auto;
  }
  
  /* Name styling */
  .name {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    align-self: center;
  }

.name {
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
}

/* Navigation links list */
.nav-links {
  display: flex;
  list-style-type: none;
  flex-grow: 1; 
  flex-shrink: 1;
  justify-content: flex-end;
  gap: 70px;
  padding: 0;
  margin: 0; 
}

.nav-links li {
  text-align: right;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.nav-links li a:hover {
  color:#5229AB;
}

.bild-text {
    width: 100%;
    height: 800px;
    background: url('https://github.com/christopherholz1983/christopherholz1983.github.io/blob/main/img/Bild_eingefaerbt.jpg?raw=true') no-repeat center center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
}

.text-overlay {
    padding: 2%;
    color: white;
    font-size: 50px;
    text-align: left;
}

.ueber-mich-box {
    width: 100%;
    height: auto;
    background-color: black;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: space-between; /* Keeps text on the left and image on the right */
    align-items: center; /* Vertically center both text and image */
    padding-left: 2%; /* Optional: Adds space on the left */
}

.text-container {
    display: flex;
    flex-direction: column; /* Stack text vertically */
    width: 65%;
}

.kopfzeile-ueber-mich {
    font-size: 1rem;
    color: #74F1FF;
    margin-bottom: 10px; /* Adds spacing below subheading */
}

.headline-ueber-mich {
    font-size: 2rem;
    color: white;
}

.right-image {
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: 2%;
}
