@charset "UTF-8";
/* CSS Document */

/* Reset basic styles */
body, h1, p, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: auto;
  font-family: 'Raleway', sans-serif;
  line-height: 1.2;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Sticky navigation bar styles */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #74F1FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  z-index: 1000;
  box-sizing: border-box;
  overflow: hidden;
}

/* Logo container with logo image and name */

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

.logo {
    max-width: 90px;
    height: auto;
  }
  
  /* Name styling */
  .name {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    align-self: center;
  }

.name {
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
}

/* Navigation links list */
.nav-links {
  display: flex;
  list-style-type: none;
  flex-grow: 1; 
  flex-shrink: 1;
  justify-content: flex-end;
  gap: 70px;
  padding: 0;
  margin: 0; 
}

.nav-links li {
  text-align: right;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.nav-links li a:hover {
  color:#5229AB;
}

.full-width-box {
    width: 100%;
    background-color: #5229AB;
    color: white;
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;
}

.image-container {
    width: 100%;
    overflow: hidden;
}

.responsive-image {
    width: 100%;
    height: auto;
    display: block; /* Removes extra spacing below the image */
}
